@CHARSET "UTF-8";

body {
	background-image: url("../img/02-01.jpg");
	background-color: gb(1, 52, 83)d;
	background-attachment: scroll;
	background-repeat: no-repeat;
}

@media ( min-width : 1600px) {
	body {
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-color: rgb(1, 52, 83);
		background-position: top center;
	}
	.Obal {
		margin-left: 30%;
		margin-right: 30%;
		margin-top: 5%;
	}
}

.Obal {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 5%;
	background-color: rgb(255,242,249);
	border-radius: 25px;
}

a {
	color: #CDC9C9;
}

.Hlavicka {
	height: 10%;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: -25px;
	text-align: center;
	font-family: sans-serif;
	font-size: 35px;
	font-style: italic;
	color: #696969;
}

.podNadpis {
	margin-top: -25px;
	font-family: sans-serif;
	font-size: 20px;
	font-style: oblique;
}

.menu {
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	background-color: rgb(40,168,165);
	position: relative;
	display: block;
}

.Telo {
	position: inherit;
	display: block;
}

#myTopnav{
	background-color: rgb(40,168,165);
}
.footer{
	font-style: italic;
	background-color: rgb(40,168,165);
	border-radius: 0 0 25px 25px;
	
}